client
nobind
dev tun
key-direction 1
remote-cert-tls server
remote {{ openvpn_client_server_host }} {{ openvpn_client_server_port }} {{ openvpn_client_protocol }}
cert client.crt
key client.key
ca ca.crt
tls-client
tls-auth ta.key 1
key-direction 1
auth-nocache
comp-lzo
reneg-sec 259200