client
nobind
dev tun
key-direction 1
remote-cert-tls server
remote {{ server_host }} {{ server_port}} {{ proto}}
cert client.crt
key client.key
ca ca.crt
tls-client
tls-auth ta.key 1
key-direction 1
auth-nocache
comp-lzo
reneg-sec 259200