client
nobind
dev tun
key-direction 1
remote-cert-tls server
remote {{ openvpn_client_server_host }} {{ openvpn_client_server_port }} {{ openvpn_client_protocol }}
cert {{ openvpn_client_client_crt_file_name }}
key {{ openvpn_client_client_key_file_name }}
ca {{ openvpn_client_ca_crt_file_name }}
tls-client
tls-auth {{ openvpn_client_ta_file_name }} 1
key-direction 1
auth-nocache
comp-lzo
reneg-sec 259200